.log {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 
}
.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
}
/* .btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(120deg, transparent, var(--orange), transparent); */
    /* transform: translateX(-100%); */
    /* transition: 0.6s; */
/* } */ 
/* .btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}
.btn:hover::before {
    transform: translateX(100%);
} */
.form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
    background-color: transparent;
}
.form-input-material input {
    color: white;
    background-color: transparent;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    /* min-width: 15rem; */
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
}
.login-form h1 {
    margin: 0 0 24px 0;
}
.login-form .form-input-material {
    margin: 12px 0;
}
.login-form .btn {
    width: 100%;
    margin: 18px 0 9px 0;
}


.foot-lnk{
	text-align:center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    margin-top: 1rem;
}

.label{
    position:relative;
	display:inline-block;
}

.goBack{
    /* position: absolute; */
    box-sizing: border-box;
    top: 30%;
    margin-top: 3.5rem;
    margin-right: -6rem;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    justify-content: centre;
    /* align-items: center;
    justify-content: center; */
    background: transparent;
  }

  .logoIn{
    padding: 14px;
    color: var(--white);
    /* background: var(--orange); */
    /* padding: 14px; */
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Cinzel', serif;
    /* font-family: 'Cinzel Decorative', cursive; */
    /* font-family: 'Prata', serif; */
    font-size: 2rem;
    text-decoration: none;
   
  }

  #msg{
    color: red;
  }

  .bckgrd{
    font-family: 'Poppins', sans-serif;
    background: #171A24; 
;
  }