.ClerkApp{
    background: linear-gradient(
        106.37deg,
        #222122 29.63%,
        #464545 51.55%,
        #575657 90.85%
      );
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Inter', sans-serif;
}

.ClerkGlass{
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 1rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 15rem auto 20rem;

}