@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root{
  --purple:#1e0127;
  --green: #77C23B;
  --orange: #ff7b00;
  --white: #fff;
  --grey: #2F2E2E;
  --background: #2F2E2E;
  --glass: #2F2E2E;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #ff7b00;
  --boxShadow:0px 0px 20px 1px #ffbb763f;
}

*{
  background: var(--grey);
  font-family: 'Montserrat', sans-serif;
  
}
