.data_table {
  height: 660px;
  width: 100%;
}
.data_table .userr {
  display: flex;
  align-items: center;
}
.data_table .userr .userr_image {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.data_table .status.active {
  color: green;
}
.data_table .status.passive {
  color: #ff74b1;
}
.data_table .actionn {
  display: flex;
  align-items: center;
}
.data_table .actionn .view_btn {
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  color: #7551f8 d2;
  border: 1px solid #7551f8 bd;
  background: none;
}
.data_table .actionn .delete_btn {
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #ff74b0 f5;
  border: 1px solid #ff74b0 cb;
  background: none;
}
