nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--orange);
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:3rem;
  }
h1{
    color: var(--white);
    background: var(--orange);
    padding: 14px;

}